<div class="container" style="float: left">
  <div class="table-responsize text-nowrap">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Company</th>
          <th>Date Entry</th>
          <th>Org Num</th>
          <th>Address 1</th>
          <th>City</th>
          <th>Zip</th>
          <th>Geo</th>
          <th>Pan</th>
          <th>Pin</th>
          <th>Status</th>
          <th>Fee</th>
          <th>Guid</th>
          <th>Date Exit</th>
          <th>Date First</th>
          <th>Date Recent</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empList">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.phone}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.company}}</td>
          <td>{{emp.date_entry}}</td>
          <td>{{emp.org_num}}</td>
          <td>{{emp.address_1}}</td>
          <td>{{emp.city}}</td>
          <td>{{emp.zip}}</td>
          <td>{{emp.geo}}</td>
          <td>{{emp.pan}}</td>
          <td>{{emp.pin}}</td>
          <td>{{emp.status}}</td>
          <td>{{emp.fee}}</td>
          <td>{{emp.guid}}</td>
          <td>{{emp.date_exit}}</td>
          <td>{{emp.date_first}}</td>
          <td>{{emp.date_recent}}</td>
          <td><a href="{{emp.url}}" target='_blank'>{{emp.url}}</a> </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>